/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap'); 
/* font-family: 'Dosis', sans-serif; */

/* Con fontface podemos inculir fuentes personalizadas que tengamos descargadas */
@font-face {
    font-family:"Marvel's Luke Cage Regular";
    /* El font famili es una forma de llamar al font-face */
    src:
    url("./assets/Marvel_s_Luke_Cage_Regular/Marvel_s_Luke_Cage.eot") format("eot"),
    url("./assets/Marvel_s_Luke_Cage_Regular/Marvel_s_Luke_Cage.woff") format("woff"),
    url("assets/Marvel_s_Luke_Cage_Regular/Marvel_s_Luke_Cage.ttf") format("truetype"),
    url("./assets/Marvel_s_Luke_Cage_Regular/Marvel_s_Luke_Cage.svg") format("svg");
    font-weight:normal;
    font-style:normal;

}
/* Colors */
:root{
    --main-rich-black:#111416;
    --main-Special-Black:#161a1d;
    --main-ultra-dark-red:#660708;
    --main-black-red:#a4161a;
    --main-red:#ba181b;
    --main-pastel-red:#e5383b;
    --main-grey:#b1a7a6;
    --main-whiter-grey:#d3d3d3;
    --main-ultra-whiter-grey:#f5f3f4;
    --main-white:#ffffff;

}

/* General */
*{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    
}
body{
    background-color: var(--main-Special-Black);
    
}


/* header */
header{
    background-color: var(--main-rich-black);
    padding: 1%;
    position: sticky;
    top: 0px;
    z-index: 50;
}
.dropdown{
    margin-right: 4%;
    text-align: right; 
    padding: 1%;
    width: 30%;
}

.icon-down-categories{
    font-weight: lighter;
}
.navigation-title{
    width: 100%;
    padding: 1% 0;
    display: flex;
}
.nav-flex{
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: space-between;
    align-items: center;
}
.categories-menu:hover .categories-dropdown{
    display: block;

}
.categories{
    width: 70%;
    text-align: right;
    margin: auto;
}
.categories-menu{
    position: relative;
    cursor: pointer;
}
.categories-dropdown{
    list-style: none;
    display: none;
    position: absolute;
    background-color: var(--main-Special-Black);
    z-index: 12;
    top: 48px;
    font-size: 0.9em;
    width: 120px;
    right: -20px;
    padding: 10%;
    box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.54);
    -webkit-box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.54);
    -moz-box-shadow: 2px 8px 8px 2px rgba(0,0,0,0.54);
    text-align: left;
}
.categories-dropdown a{
    text-decoration: none;
    color: var(--main-ultra-whiter-grey);
}
.categories-dropdown li:hover{
    color: var(--main-grey);
}

.categories-font:hover{
    border-bottom: 1px solid var(--main-Special-Black);
}
.menu{
    width: 70%;
    padding: 0;
    color: var(--main-Special-Black);
    display: flex;
    flex-direction: row;
  
}

.nav-bar{
    list-style: none;
    color: var(--main-ultra-whiter-grey);
    padding: 0px;
    font-weight: normal;
    display: inline;
    font-size: 1.4em;
    padding: 10px;
    
    margin: 0 1%;
    
}

.icon-menu{
    display: none;
}
ul a{
    text-decoration: none;
}

/* cuerpo */

h1{
    padding: 1%;
    font-size: 1.5em;
    text-align: center;

    width: 29%;
    


}
h1 a{
    text-decoration: none;
    font-family: "Marvel's Luke Cage Regular";
    color: var(--main-ultra-whiter-grey);
}

p{
    color: var(--main-ultra-whiter-grey);

}


main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    margin-top: 4%;
}

main img{
    width: 100%;
    height: 250px;
    padding: 0px;
    object-fit: cover;
    border-radius: 7px;
}



.description{
    background-color: var(--main-pastel-red);
    text-align: center;
    margin: auto;
    width: 99.88%;
    border: var(--main-ultra-dark-red) solid 1px;
    padding: .3% 0;
} 
.description p{
     color: var(--main-ultra-whiter-grey);
     font-weight: normal;
     font-size: 1.3em;
     padding: 0;

}

/* product */

.product p{
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: left;

}
.precio-tachado{
    text-decoration:line-through;
    margin-right: auto;
    font-size: 0.9em;
    color: var(--main-grey);
}
.precio{
    font-size: 1.2em;
}
.oferta{
    margin-right: auto;
    background-color: var(--main-pastel-red);
    padding: 2px;
    border-radius: 2px;
    font-size: 0.9em;
}
.img-container, .container-sticker{
    position: relative;

    
}
.container-sticker{
    z-index: 20;
}
.container-sticker .sticker{
    width: 75px;
    height: 75px;
    position: absolute;
    background: url(./assets/sticker.png);
    background-size: 75px;
    filter: hue-rotate(-191deg) sepia(0%) saturate(320%);

    top: -50px;
    right: -160px;
    animation: spin 30s linear infinite;

    }
    @keyframes spin{
        100%{
            transform: rotate(1turn);
        }
    }
.container-sticker .msg{
    color: var(--main-ultra-whiter-grey);
    text-align: center;
    font-size: 1.5em;
    width: 75px;
    position: absolute;
    top: -30px;
    right: -160px;
}
.product{
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    box-sizing: content-box;
    width: 25%;
    align-items: center;
    margin-top: 1px;
    margin-bottom: 50px;
    box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);
    -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.56);
}

.product button{
    margin: 5% 0;
    padding: 10px;
    width: 50%;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--main-pastel-red);
    border: 2px solid var(--main-red);
    color: red;

  
}

.product button:hover{
    animation: hover-color 2s ease forwards ;
}
.product button:hover{
    animation: deshover-color 3s ease forwards ;
}
@keyframes hover-color{
    from{
        background-color: var(--main-pastel-red);
    }
    to{
        background-color: var(--main-red);
    }
}
@keyframes deshover-color{
    from{
        background-color: var(--main-red);
    }
    to{
        background-color: var(--main-pastel-red);
    }
}
.heart{
    position: absolute;
    font-size: 1.8em;
    color: var(--main-pastel-red);
    opacity: 0%;
    right: 5%;  
    top: -5%;
    margin-top: 20px;
}
.img-container:hover .heart{
    opacity: 100%;
}
.product button a{
    text-decoration: none;
    color: var(--main-ultra-whiter-grey);
    font-weight: 700;
    font-size: 1.2em;
}

/* Celulares */
@media (max-width:480px){
    .icon-menu{
        position: relative;
        display: inline;
        margin: auto;
        margin: 10px;
        color: var(--main-ultra-whiter-grey);
    }
    h1{
        font-size: 1em;
        width: 700px;
        text-align: center;
        margin: auto;
    }
    .menu-responsive{
        display: none;
    }
    .icon-menu:hover .menu-responsive{
        display: block;
    }
    .menu-responsive{
        position: absolute;
        background-color: var(--main-Special-Black);
        z-index: 10;
        top: 40px;
        padding: 20px;
        box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        width: 160px;
    }
    .menu-responsive li{
        color: var(--main-ultra-whiter-grey);
        font-size: 1em;

        
    }
    .categories-font:hover{
        color: var(--main-grey);
    }
    .categories-dropdown{
        right: -175px;
        top: -15px;
    }

    .categories{
        display: none;
    }
    .nav-bar{
        padding: 0px;
    }
    .dropdown{
        width: 80%;
    }
    .icon-user{
        display: none;
    }
    .icon-arrow-right{
        font-size: .6em;
    }
    .product{
        width: 70%;
    }
}

/* Tablets */

@media (min-width:481px) and (max-width:1023px){
    .product{
        width: 38%;
    }
    .icon-menu{
        position: relative;
        display: inline;
        margin: auto;
        margin: 10px;
    }
    h1{
        font-size: 1.3em;
        width: 700px;
        text-align: center;
        margin: auto;
    }
    .menu-responsive{
        display: none;
    }
    .icon-menu:hover .menu-responsive{
        display: block;
    }
    .menu-responsive{
        position: absolute;
        background-color: var(--main-Special-Black);
        z-index: 10;
        top: 40px;
        padding: 20px;
        box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        -webkit-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        -moz-box-shadow: 0px 0px 11px 5px rgba(0,0,0,0.43);
        width: 160px;
    }
    .menu-responsive li{
        color: var(--main-ultra-whiter-grey);
        font-size: 1em;

        
    }
    .categories-font:hover{
        color: var(--main-grey);
    }
    .categories-dropdown{
        right: -175px;
        top: -15px;
    }

    .categories{
        display: none;
    }
    .nav-bar{
        padding: 10px;
    }
    .dropdown{
        width: 100%;
    }
    .icon-arrow-right{
        font-size: .6em;
    }
}
@media (min-width:1024px) and (max-width:1240px){
    h1{
        width: 50%;
    }
    .product{
        width: 25%;
    }
}
@media (min-width:1241px){
    .product{
        width: 19%;
    }
}